html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
}

.calculator {
  border: 1px solid black;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  background: #404040;
}

.row {
  display: flex;
  height: 80px;
  gap: 10px;
}

.row div {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex: 1;
  font-weight: bold;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.screen {
  background: lightgrey;
}

.number {
  background: orange;
}

.operator {
  background-color: black;
  color: white;
}

.operator#equals {
  background: blue;
}

.word {
  background: green;
}
